.wrapper {
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
}

.logout {
  text-align: right;
}
a {
  text-decoration: none;
  color: inherit;
}

.timers {
  display: flex;
  margin: 3rem;
}
